In [1]:
import pandas as pd

In [2]:
    df_train = pd.read_csv('../../DSML19/Mobile/mobile_train.csv')
    df_test = pd.read_csv('../../DSML19/Mobile/mobile_test.csv')

In [3]:
df_train.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1412,0.0,0.6,0.0,9.0,0,57.0,0.2,86.0,3.0,...,2.0,660.0,1853,15,10,18,0,0,1,1
1,644,1.0,2.7,0.0,0.0,0,22.0,0.7,157.0,8.0,...,311.0,881.0,1262,12,1,15,1,0,0,0
2,507,1.0,0.5,1.0,1.0,0,32.0,0.5,141.0,7.0,...,936.0,1398.0,1702,17,0,5,1,1,1,1
3,1266,0.0,1.9,1.0,0.0,1,7.0,0.2,184.0,3.0,...,346.0,1468.0,2532,10,5,4,1,1,1,2
4,1807,1.0,2.1,0.0,2.0,0,49.0,0.8,125.0,1.0,...,337.0,1384.0,1906,17,13,13,0,1,1,2

In [4]:
df_test.head()

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,Id
0,1720,1,0.7,1,0,0,19,0.1,137,2,...,409,646,1222,13,2,7,0,0,0,0
1,633,1,2.2,0,0,1,49,0.1,139,8,...,529,1009,3560,11,1,16,1,1,1,1
2,893,0,2.5,1,0,0,55,0.6,183,2,...,417,946,2986,7,1,6,0,1,1,2
3,831,0,1.7,1,7,1,26,0.7,177,5,...,511,621,1704,6,5,20,1,1,1,3
4,1314,1,2.2,0,0,1,40,0.8,116,7,...,328,1858,3033,9,8,17,1,1,1,4

In [5]:
df_train

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,1412,0.0,0.6,0.0,9.0,0,57.0,0.2,86.0,3.0,...,2.0,660.0,1853,15,10,18,0,0,1,1
1,644,1.0,2.7,0.0,0.0,0,22.0,0.7,157.0,8.0,...,311.0,881.0,1262,12,1,15,1,0,0,0
2,507,1.0,0.5,1.0,1.0,0,32.0,0.5,141.0,7.0,...,936.0,1398.0,1702,17,0,5,1,1,1,1
3,1266,0.0,1.9,1.0,0.0,1,7.0,0.2,184.0,3.0,...,346.0,1468.0,2532,10,5,4,1,1,1,2
4,1807,1.0,2.1,0.0,2.0,0,49.0,0.8,125.0,1.0,...,337.0,1384.0,1906,17,13,13,0,1,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1595,1348,1.0,2.0,1.0,5.0,0,36.0,0.3,145.0,6.0,...,468.0,741.0,2554,19,1,12,0,1,0,2
1596,1131,1.0,0.5,1.0,11.0,0,49.0,0.6,101.0,5.0,...,658.0,878.0,1835,19,13,16,1,1,0,1
1597,1083,0.0,1.0,0.0,6.0,0,52.0,0.9,126.0,2.0,...,925.0,1469.0,681,19,18,19,1,1,1,0
1598,1708,0.0,0.8,0.0,8.0,1,14.0,0.9,197.0,4.0,...,263.0,1345.0,1247,19,16,16,1,0,0,1
1599,1450,0.0,2.1,0.0,1.0,0,31.0,0.6,114.0,5.0,...,1573.0,1639.0,794,11,5,9,0,1,1,1

In [6]:
df_train.shape

(1600, 21)

In [7]:
df_test.shape

(400, 21)

In [8]:
df_train.columns

Index(['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi', 'price_range'],
      dtype='object')

In [9]:
df_train['talk_time'].value_counts()

4     101
7      95
6      93
19     91
10     89
16     89
15     87
11     86
9      85
14     84
8      84
18     84
13     79
5      78
17     78
20     76
12     76
3      73
2      72
Name: talk_time, dtype: int64

In [10]:
df_train.isna().sum()

battery_power    0
blue             1
clock_speed      0
dual_sim         1
fc               1
four_g           0
int_memory       6
m_dep            1
mobile_wt        3
n_cores          1
pc               3
px_height        8
px_width         5
ram              0
sc_h             0
sc_w             0
talk_time        0
three_g          0
touch_screen     0
wifi             0
price_range      0
dtype: int64

In [11]:
columns_numeric= ['battery_power', 'blue', 'clock_speed', 'dual_sim', 'fc', 'four_g',
       'int_memory', 'm_dep', 'mobile_wt', 'n_cores', 'pc', 'px_height',
       'px_width', 'ram', 'sc_h', 'sc_w', 'talk_time', 'three_g',
       'touch_screen', 'wifi']

# Imputation

In [12]:
from sklearn.impute import SimpleImputer

In [13]:
# NUMERIC DATA
#Train data
imputer_num = SimpleImputer(strategy='median')
imputer_num.fit(df_train[columns_numeric])
df_train[columns_numeric] = imputer_num.transform(df_train[columns_numeric])

# Test data
df_test[columns_numeric] = imputer_num.transform(df_test[columns_numeric])

In [14]:
df_train.isna().sum().sum()

0

# Scaling

In [15]:
from sklearn.preprocessing import MinMaxScaler

In [16]:
# Scaling
# Train data
scaler = MinMaxScaler()
scaler.fit(df_train[columns_numeric])
df_train[columns_numeric]= scaler.transform(df_train[columns_numeric])

# Test data 
df_test[columns_numeric] = scaler.transform(df_test[columns_numeric])

# Model Building

In [17]:
from sklearn.ensemble import RandomForestClassifier

In [18]:
model_RF = RandomForestClassifier(n_estimators=100)
model_RF.fit(df_train[columns_numeric],df_train['price_range'])

RandomForestClassifier()

In [19]:
model_RF.score(df_train[columns_numeric],df_train['price_range'])

1.0

In [20]:
# Make predictions
yp = model_RF.predict(df_test[columns_numeric])

In [21]:
len(yp)

400

In [22]:
yp=yp.astype(int)

In [23]:
df_submission =pd.DataFrame({'Id':df_test['Id'],'price_range':yp})

In [24]:
df_submission

      Id  price_range
0      0            1
1      1            2
2      2            2
3      3            1
4      4            3
..   ...          ...
395  395            0
396  396            3
397  397            2
398  398            3
399  399            3

[400 rows x 2 columns]

In [25]:
df_submission.to_csv('submission_RF1.csv',index=False)